{% extends 'base.html.twig' %}

{% block title %}Token index{% endblock %}

{% block body %}

    <div class="display">
    <div style="padding-top:120px; margin-left: 50px">
      <span>
        <h1>Token index</h1>
       <div class="table-responsive">
        <table class="table table-bordered table-fixed">
            <thead>
            <tr>
                <th>Id</th>
                <th>User_id</th>
                <th>Token</th>
                <th>DateCreate</th>
                <th>DateUpdate</th>
            </tr>
            </thead>
            <tbody>
            {% for token in tokens %}
                <tr >
                    <td>{{ token.id }}</td>
                    <td>{{ token.used_id}}</td>
                    <td class="w-25">{{ token.token }}</td>
                    <td>{{ token.dateCreate ? token.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ token.dateUpdate ? token.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
{#                    <td>#}
{#    #}{#                    <a href="{{ path('app_user_user_show', {'id': user.id}) }}">show</a>#}
{#    #}{#                    <a href="{{ path('app_user_user_edit', {'id': user.id}) }}">edit</a>#}

{#                    </td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       </div>
      </span>
      </div>

    </div>


{#    <a href="{{ path('app_user_user_new') }}">Create new</a>#}
{% endblock %}
